* {
  margin: 0;
}

body {
  color: #2d3136;
  font: 1rem/1.5 Georgia, Serif;
  font-size: 1.05rem;
  margin: 7% auto;
  max-width: 35rem;
  padding: 0 0.9rem;
}

section {
  margin: 3rem 0;
}

h1 {
  border-style: solid;
  border-width: 0 0 1px 0;
  font-size: 2.5rem;
  line-height: 1;
  padding: 0 0 1rem 0;
}

h2 {
  border-style: solid;
  border-width: 1px 0;
  font-size: 3.5rem;
  font-weight: normal;
  margin: 3rem 0 0 0;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-style: italic;
  font-weight: normal;
  margin: 0 0 1rem 0;
}

p {
  margin: 1rem 0;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

nav li {
  display: inline;
  float: left;
  margin: 0 1.5rem 0 0;
}

nav li a:link,
nav li a:visited {
  color: #2d3136;
  opacity: 0.7;
}

nav li a.active {
  color: #2d3136;
  font-weight: bold;
  opacity: 1;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 9:16 */
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
